.row
  .large-4.small-12.columns

    .hide-for-small.panel
      %h3 SEI Consultants
      %h5.subheader
        Here are some consultants.
    %a{:href => "#"}
      .panel.callout.radius
        %h6 ALERTS
        
  .large-8.columns
    .row
      - @consultants.each do |consultant|
        .large-4.small-6.columns
          .panel-small
            - if consultant.projects.blank? then
              - @latest_project = "Bench"
            - else @latest_project = consultant.projects.last.name
            = @latest_project
          %img{:src => "http://nicenicejpg.com/1000/1000"}/
          .panel
            %ul.button-group.radius
              %li
                %a.button.radius.teeny.warning{:href => "/consultant_projects/#{consultant.id}/edit", :title => "Edit Consultant"}
                  %i.fi-.fi-pencil.bigger-icon          
              %li
                %a.button.radius.teeny.success{:href => "/consultant_projects/#{consultant.id}/assign", :title => "Assign to Project"}
                  %i.fi-.fi-torsos-all.bigger-icon             

              %li
                %a.button.radius.teeny{href: billing_path(consultant), :title => "Record Billing"}
                  %i.fi-dollar.bigger-icon
            = consultant.first_name + " " + consultant.last_name
            %br/
            = consultant.sei_loc.name
            %br/
              
    .row
      .large-12.columns
        .panel
          .row
            .large-2.small-6.columns
              %img{:src => "http://placehold.it/300x300&text=Site Owner"}/
            .large-10.small-6.columns
              %strong
                This Site Is Managed By
                %hr/
              Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4