%br/
%br/
%br/
%h1 Listing clients
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    .row
      .span1
        - @clients.each do |client|
          %td= client.name
          - client.projects.each do |project|
            .span8
              %td= project.name
    %tr
      %td= button_to 'Show', client, method: :get
      %td= button_to 'Edit', edit_client_path(client)
      %td= button_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Client', new_client_path
