= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label "Enter project name"
    %br/
    = f.text_field :name
    %br/
    = f.select :client_id, Client.all.collect { |c| [c.name, c.id]}
  .actions
    = f.submit
