%h1 Listing sows

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @project_sows.each do |sow|
      %tr
        %td= sow.name
        %td= sow.begin_date
        %td= sow.end_date
        %td= sow.sow_hours
        %td= sow.bill_rate
        %td= link_to 'Bill', consultant_project_sow_billings_path(@consultant.id, @project.id, sow.id)
        %td= link_to 'Edit', edit_sow_path(sow)
        %td= link_to 'Destroy', sow, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sow', new_sow_path
