= form_for(@billings) do |f|
  - if @billing.errors.any?
    #error_explanation
      %h2
        = pluralize(@billings.errors.count, "error")
        prohibited this billing from being saved:
      %ul
        - @billing.errors.full_messages.each do |message|
          %li= message

  %br/
  = link_to 'Create New Consultant', new_consultant_path
  %br/
  %br/
  .field
    = @consultant.last_name
    = @project.name
    = @sow.name
    %br/
    - @billings.each do |billing|
      = check_box_tag "billing_ids[]", billing.id
      = billing.bill_date
  .field

  .actions
    = f.submit
