= form_for :billing, :url =>  "/consultants/#{@consultant.id}/projects/#{@project.id}/sows/#{@sow.id}/billings/1", :html => { :method => :put } do

  %table
    %tr
      %th Bill Date
      %th Hours
    - @billings.each do |billing|
      = fields_for "billing[]", billing do |billing_fields|
        %tr
          %td= billing.bill_date
          %td= billing_fields.text_field :hours
  .actions
    = submit_tag
