%h1 Listing sei_locs
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @sei_locs.each do |sei_loc|
      %tr
        %td= sei_loc.name
        %td= link_to 'Show', sei_loc
        %td= link_to 'Edit', edit_sei_loc_path(sei_loc)
        %td= link_to 'Destroy', sei_loc, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Sei loc', new_sei_loc_path
